/* custom css for final project site */

/* import statements (at the top of the file) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

/* add all css here */



body { 
    background-color: cadetblue;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.off-canvas-content {
    background-color: grey;
}

.callout-primary {
    background-color: grey;

}


/*footer css*/ 

.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  