/* custom css for final project site */

/* import statements (at the top of the file) */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* font-family: 'EB Garamond', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* font-family: 'Lora', serif; */

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

/* font-family: 'Muli', sans-serif; */



/* add all css here */


body { 
    background-color: gray;
    font-family: 'Muli', sans-serif;
    margin: 0px;
}

h1 {
    font-family: 'Lora', serif;
    text-align: right;
}

.lead {
    text-align: right;
    font-family: 'Lora', serif;
}

h5 {
    font-family: 'Lora', serif;
   
}

.off-canvas-content {
    background-color: grey;
}

.callout-primary {
    background-color: grey;

}



/*footer css*/ 

.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  /* for menu bar */



  .mobile-nav-bar {
    background-color:black;
  }
  
  .mobile-nav-bar a {
    color: #fefefe;
  }
  

  .my-info {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 800px;
    float: center;
    clear: both;
    font-family: 'EB Garamond', serif;
  }


  /* for fun page */

 /* for gallery */

 nav {
    background-color: black;
    width: 100%;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
}

.container1 {
   max-width: 1200px;
   margin: auto;
   background: gray;
   overflow: auto; 
   padding-top: 15px;
   padding-bottom: 15px;
}

.gallery {
    margin: 5px;
    float: left;
    width: 390px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 8px;
    text-align: center;
    font-size: 12px;
}

nav a {
   width: 100px;
   display: block;
   text-decoration: none;
   text-align: center;
   background-color: black;
    font-size: 17px;
    color: white;
    padding: 15px 10px;
    font-family: 'Lora', serif;
}

nav a:hover {
    background-color: gray;
    color: white;
    text-decoration-color: none;
}

/* footer */

footer {
    padding: 25px;
    font-size: 12px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: arial;
}